<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='<%= url('../css/styles.css')%>'>
    <script type='text/javascript' src='../js/scripts.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
    <title>Laced With Less Liquidation Wholesale Shoe Distribution</title>
  </head>
  <body>
    <div class='container'>
      <h1>[LACED WITH LESS LIQUIDATION WHOLESALE SHOE DISTRIBUTORS]</h1>
      <a href="/">Home</a> | <a href="/stores">Stores</a> | <a href="/brands">Shoes</a>

      <%= yield %>

    </div>
  </body>
</html>
