<h1>Stores ERB</h1>
<h2>[THIS WILL BE A BEAUTIFUL MAP]</h2>
<% @stores.each do |store| %>
<p><%= store.name %> <a href="stores/<%=store.id%>">view</a> | <a href="stores/<%=store.id%>/edit">edit</a></p>
<%end%>

<h2>Add Store:</h2>
<form action="/stores" method="post">
  <input style="min-width: 70%" type="text" name="store_name" class="form-control" placeholder="Store" autocomplete="off"><br>
  <button type="submit" title="Add Store" class="btn-lg">Add</button>
</form>
