<h1>Stores ERB</h1>
<h2>[THIS WILL BE A BEAUTIFUL MAP]</h2>
<% @stores.each do |store| %>
<p><%= store.name %> <a href="stores/<%=store.id%>">view</a> | <a href="stores/<%=store.id%>/edit">edit</a></p>
<%end%>
