<h1>Stores</h1>
<% @stores.each do |store| %>
<p><a href="stores/<%=store.id%>"><%= store.name %></a> | <a href="stores/<%=store.id%>/edit">edit</a></p>
<%end%>

<form action="/" method="post">
  <input style="min-width: 70%" type="text" name="store_name" class="form-control" placeholder="Store" autocomplete="off">
  <button type="submit" title="Add Store" class="btn btn-info btn-simple btn-xs">Add</button>
</form>
